* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #16171d;
  color: #f3f4f6;
  font-family: ui-monospace, Consolas, monospace;
}
