body{
    font-family: cursive;
}
.container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}