* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
}

#main {
  min-height: 100dvh;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  font-size: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9;
}

#image {
    height: 30vw;
    width: 70vw;
    position: relative;
}

#image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}