* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: #000;
}

#box{
    background-color: crimson;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}