* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170);
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}
nav h2 {
  font-size: 2rem;
}
nav i {
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

#sidebar {
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0.3);
  top: 0;
  right: -40%;
  backdrop-filter: blur(1rem);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 80px 50px;
}

#sidebar ul li {
  list-style: none;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 25px;
}

#sidebar ul i {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 30px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}
