#css-img {
    border: 4px solid green;
}

[alt="html-css-javascript"]{
    border: 2px solid hotpink;
}
p b{
    display: none;
}
body{
    transition: 1s ease-in-out;
}
#timmer{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-weight: 700;
    transition: 1s ease-in-out;
}