* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  padding-top: 5rem;
  display: flex;
  padding-inline: 10%;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
  font-size: 3rem;
}

p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h1{
    font-size: 3rem;
}