* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  min-height: 100dvh;
  width: 100%;
  background-color: #111;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  padding: 30px;
  border: 3px solid white;
  border-radius: 20px;
}
.box {
  height: 200px;
  width: 200px;
  background: linear-gradient(to right bottom, rgba(220, 20, 103), crimson);
  border-radius: 10px;
  margin: 20px;
}

.circle {
  height: 200px;
  width: 200px;
  background: linear-gradient(to right bottom, lightblue, cadetblue);
  margin: 20px;
  border-radius: 150%;
}
