* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
}

main {
  min-height: 100dvh;
  width: 100%;
  background-color: #111;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.circle {
  height: 200px;
  width: 200px;
  background: linear-gradient(to right bottom, lightblue, cadetblue);
  margin: 20px;
  border-radius: 50px;
}

button {
  padding: 20px 100px;
  border-radius: 50px;
  background: linear-gradient(rgb(48, 201, 193), rgb(60, 179, 112));
  border: none;
  color:  #000;
  font-size: 25px;
  font-weight: 600;
}
button:active{
  scale: 0.96;
}